:root {
    --layout-section-transition-duration: .2s;
}

.layout-wrapper {
    min-height: 100vh;
}

.layout-topbar {
    position: fixed;
    height: 5rem;
    z-index: 997;
    left: 0;
    top: 0;
    width: 100%;
    padding: 0 2rem;
    background-color: var(--surface-card);
    transition: left var(--layout-section-transition-duration);
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.02), 0px 0px 2px rgba(0, 0, 0, 0.05), 0px 1px 4px rgba(0, 0, 0, 0.08);

    .layout-topbar-start, .layout-topbar-end {
        display: flex;
        align-items: center;
    }

    .layout-topbar-logo {
        display: flex;
        align-items: center;
        color: var(--surface-900);
        font-size: 1.5rem;
        font-weight: 500;
        width: auto;
        min-width: 150px;
        border-radius: 12px;
        text-decoration: none;

        img {
            height: 2.5rem;
            margin-right: .5rem;
        }
    }

    .layout-topbar-button {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      position: relative;
      color: var(--text-color-secondary);
      border-radius: 50%;
      width: 2.5rem;
      height: 2.5rem;
      cursor: pointer;
      margin-left: 0.5rem;
      border: none;
      background: transparent;
      transition: background-color var(--layout-section-transition-duration), color var(--layout-section-transition-duration);

      &:hover {
          color: var(--primary-color);
          background-color: var(--surface-hover);
      }

      i {
          font-size: 1.25rem;
      }

      span {
          display: none;
      }
    }

    .layout-topbar-menu {
      margin: 0;
      padding: 0;
      list-style-type: none;
      display: flex;
      align-items: center;
    }
}

.layout-sidebar {
    position: fixed;
    width: 20rem;
    height: calc(100vh - 7rem);
    z-index: 999;
    overflow-y: auto;
    user-select: none;
    top: 6rem;
    left: 1rem;
    transition: transform var(--layout-section-transition-duration), left var(--layout-section-transition-duration);
    background-color: var(--surface-card);
    border-radius: 12px;
    padding: 0.5rem 1.5rem;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.02), 0px 0px 2px rgba(0, 0, 0, 0.05), 0px 1px 4px rgba(0, 0, 0, 0.08);
}

.layout-main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
    padding: 6rem 2rem 0 2rem;
    transition: margin-left var(--layout-section-transition-duration);
}

.layout-main {
    flex: 1 1 auto;
    padding-bottom: 2rem;
}

.layout-footer {
  transition: margin-left .2s;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
  border-top: 1px solid var(--surface-border);
}

/* Menu Styles */
.layout-menu {
    margin: 0;
    padding: 0;
    list-style-type: none;

    .layout-root-menuitem {
        > .layout-menuitem-roottext {
            font-size: .857rem;
            text-transform: uppercase;
            font-weight: 700;
            color: var(--surface-900);
            margin: .75rem 0 .5rem 0;
        }

        > a {
            display: none;
        }
    }

    li {
        &.active-menuitem {
            > a {
                .layout-submenu-toggler {
                    transform: rotate(-180deg);
                }
            }

            > ul {
                max-height: 1000px;
            }
        }

        ul {
            margin: 0;
            padding: 0;
            list-style-type: none;
            overflow: hidden;

            li {
                a {
                    padding-left: 2rem;
                }
            }
        }

        a {
            user-select: none;
            cursor: pointer;
            display: flex;
            align-items: center;
            color: var(--text-color);
            padding: .75rem 1rem;
            border-radius: 12px;
            transition: background-color .2s, box-shadow .2s;
            text-decoration: none;

            .layout-menuitem-icon {
                margin-right: .5rem;
            }

            .layout-submenu-toggler {
                margin-left: auto;
                transition: transform .2s;
            }

            &.active-route {
                font-weight: 700;
                color: var(--primary-color);
            }

            &:hover {
                background-color: var(--surface-hover);
            }
        }
    }
}

/* Responsive */
@media (min-width: 992px) {
    .layout-wrapper {
        &.layout-static {
            .layout-main-container {
                margin-left: 22rem;
            }
        }

        &.layout-static-inactive {
            .layout-sidebar {
                transform: translateX(-100%);
                left: -20rem;
            }
            .layout-main-container {
                margin-left: 0;
            }
        }
    }
}

@media (max-width: 991px) {
    .layout-wrapper {
        .layout-main-container {
            margin-left: 0;
        }
        .layout-sidebar {
            transform: translateX(-100%);
            left: 0;
            top: 0;
            height: 100vh;
            border-radius: 0;
            width: 20rem;
        }
        &.layout-mobile-active {
            .layout-sidebar {
                transform: translateX(0);
            }
            .layout-mask {
                display: block;
            }
        }
    }
}

.layout-mask {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 998;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}
